{{ partial "header" . }}

<section class="js-inview" data-inviewtype="top">
        <div class="row row--nogutter-xs c-hero-layout-1 c-inview js-inview" data-inviewtype="default" data-inviewonce=true>
            <div class="col-xs-12 col-lg-6 c-hero-layout-1__content">
                <div class="container-fluid c-hero-layout-1__top l-align-center-xs l-align-left-lg c-inview__el c-inview__el--slide-right" >
                    {{.Content}}
                    <a href="#illustrations" class="c-hero-layout-1__mouse no-barba js-scroll-to-anchor l-margin-top-sm h-hide-up-to-lg"></a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="c-hero-layout-1__image c-hero-layout-1__carousel js-carousel js-inview" data-inviewtype="carousel">
                    {{ with .Resources.ByType "image" }}

                        {{ range . }}

                            {{ $image_size_1 := .Resize "500x" }}
                            {{ $image_size_2 := .Resize "1000x" }}
                            {{ $image_size_3 := .Resize "1500x" }}
                            {{ $image_size_4 := .Resize "2000x" }}

                            <img 
                            src="{{ $image_size_1.RelPermalink }}"
                            sizes="(min-width: {{ $image_size_1.Width }}px) {{ $image_size_2.Width }}px,
                            (min-width: {{ $image_size_1.Width }}px) {{ $image_size_1.Width }}px,
                            100vw"
                            srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                            {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                            {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                            {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                            alt="{{ .Title }}" />

                        {{ end }}

                    {{ end }}
                </div>
            </div>
        </div>
    </section>

<section class="container-fluid wrap wrap--wide l-padding-bottom-xl c-illustration-wrap-outer js-fixed-offset" id="illustrations">
    
    <div class="row">
        
        <!-- Filters -->
        <aside class="col-xs-12 auto-lg c-filter js-sticky">

            <div class="c-filter__wrap">
                <ul class="c-filter__list js-filter-nav">
                    <li class="c-filter__list-item is-active js-filter-nav-item" data-target="All"><span>{{ i18n "all" }}</span></li>
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li class="c-filter__list-item js-filter-nav-item" data-target="{{ humanize $name }}"><span>{{ humanize $name }}</span></li>
                    {{ end }}
                </ul>
            </div>
   
        </aside>

        <div class="col-xs-12 grow-lg">
            <div class="row c-illustration-wrap js-filter-illustrations">

                {{ range $index, $element := .Pages }}
                    <div class="col-xs-12 col-md-6 c-illustration-col js-filter-illustration-item {{ if modBool (add $index 1) 2 }}is-second{{end}} {{ if modBool (add $index 1) 3 }}is-third{{end}} c-inview js-inview" data-tags="{{ delimit .Params.tags "," }}" data-inviewtype="default" data-inviewonce=true>
                        <a class="c-illustration {{ if ( isset .Params "color" ) }}c-illustration--{{ .Params.color }}{{ end }} c-inview__el c-inview__el--slide-up" href="{{ .Permalink }}" >
                            <h2 class="c-illustration__title c-inview__el c-inview__el--slide-up c-inview__el--delay-2" >{{ .Title }}</h2>
                            {{ $title := (print .Title " by Rolsted") }}
                            {{ with .Resources.GetMatch "**.jpg" }}
                                {{ $image_size_1 := .Resize "x400" }}
                                {{ $image_size_2 := .Resize "x600" }}
                                {{ $image_size_3 := .Resize "x800" }}
                                {{ $image_size_4 := .Resize "x1200" }}
                                <div class="c-illustration__image">
                                    <div class="c-illustration__image-inner">
                                        <img
                                        src="{{ $image_size_1.RelPermalink }}"
                                        srcset="data:image/gif;base64,R0lGODlhAwAEAIAAAP///wAAACH5BAEAAAAALAAAAAADAAQAAAIDhI9WADs="
                                        data-sizes="auto"
                                        data-srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                                        {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                                        {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                                        {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                                        class="lazyload" alt="{{ $title }}" title="{{ $title }}" />
                                    </div>
                                </div>
                            {{ end }}
                            <i class="c-illustration__icon c-icon c-icon--dark c-icon--css c-icon--css-plus"></i>
                        </a>
                    </div>
                {{ end }}
            
            </div>
        </div>

    </div>

</section>

{{ partial "about" . }}
{{ partial "footer" . }}
