{{ partial "header" . }}

{{ $pageTitle := .Title }}
{{ $byline := i18n "by-rolsted" }}

<div class="c-fixed-navbar">

        <div class="c-fixed-navbar__inner wrap">
            <a href="https://www.pinterest.com/pin/create/button/" target="_blank" data-pin-do="buttonBookmark" data-pin-custom=true class="c-fixed-navbar__item js-pin no-barba" data-pin-description="{{ i18n "illustration-default-description" }}">
                <i class="c-icon c-icon--xs c-icon--dark">
                    {{ partial "svg/pinterest" }}
                </i>
                <span>{{ i18n "pinterest-base" }}<span class="h-hide-up-to-md"> {{ i18n "pinterest-desktop" }}</span></span>
            </a>
            <a href="" class="c-fixed-navbar__item js-share-facebook no-barba">
                <i class="c-icon c-icon--xs c-icon--dark">
                    {{ partial "svg/facebook" }}
                </i>
                <span>{{ i18n "facebook-base" }}<span class="h-hide-up-to-md"> {{ i18n "facebook-desktop" }}</span></span>
            </a>
            <a href="" class="c-fixed-navbar__item c-fixed-navbar__button">
                <i class="c-icon c-icon--xs c-icon--dark">
                    {{ partial "svg/cart" }}
                </i>
                <span>{{ i18n "order" }}</span>
            </a>
        </div>

</div>

<div class="container-fluid wrap">
    <div class="row">
        <div class="col-xs-12">
            <div class="c-hero-layout-2">
                <div class="c-hero-layout-2__content">
                    <h1 class="c-hero-layout-2__title">{{ partial "headline" . }}</h1>
                    <div class="c-hero-layout-2__text">
                        {{ $desc := i18n "illustration-default-description" }}
                        {{ $string := printf "%s%s" .Content $desc }}
                        {{ $string_cleaned := replace $string "<p>" "" }}
                        {{ replace $string_cleaned "</p>" "" | safeHTML }}
                    </div>
                </div>
                <a class="c-button c-button--add-to-cart">
                    <i class="c-button__icon">{{ partial "svg/cart" }}</i>
                    {{ i18n "order" }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid wrap--wide">
    <div class="row">
        <div class="col-xs-12 l-margin-bottom-md">
            <div class="c-illustration c-illustration--single {{ if ( isset .Params "color" ) }}c-illustration--{{ .Params.color }}{{ end }}" href="{{ .Permalink }}">
                {{ with .Resources.GetMatch "**.jpg" }}
                    {{ $title := (print .Title " by Rolsted") }}
                    {{ $image_size_1 := .Resize "x400" }}
                    {{ $image_size_2 := .Resize "x550" }}
                    {{ $image_size_3 := .Resize "x800" }}
                    {{ $image_size_4 := .Resize "x1100" }}

                    <div class="c-illustration__image">
                        <div class="c-illustration__image-inner">
                            <img
                            src="{{ $image_size_1.RelPermalink }}"
                            sizes="(min-width: {{ $image_size_1.Width }}px) {{ $image_size_2.Width }}px,
                            (min-width: {{ $image_size_1.Width }}px) {{ $image_size_1.Width }}px,
                            100vw" 
                            srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                            {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                            {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                            {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                            alt="{{ $title }}" />
                        </div>
                    </div>
                {{ end }}
                </div>
            <div class="t-caption">{{ $pageTitle }} {{ $byline }}</div>
        </div>
        {{ with .Resources.ByType "image" }}
            {{ range $index, $element := after 1 .  }}
                {{ $title := (print .Title $byline ) }}

                <div class="col-xs-12 l-margin-bottom-md {{ if lt .Width .Height }}col-md-6{{ end }}">
                    {{ $image_size_1 := .Resize "x600" }}
                    {{ $image_size_2 := .Resize "x900" }}
                    {{ $image_size_3 := .Resize "x1200" }}
                    {{ $image_size_4 := .Resize "x1800" }}

                    {{ if eq .Name "multi" }}
                        
                        {{ $images := .Params.images }}
                        {{ $len := (len $images) }}
                        {{ $delimiter := (print " " $byline " + ") }}
                        {{ $delimited := delimit $images $delimiter }}
                        {{ $title := (print $delimited " " $byline) }}

                        
                        <img
                        src="{{ $image_size_1.RelPermalink }}"
                        srcset="data:image/gif;base64,R0lGODlhAwAEAIAAAP///wAAACH5BAEAAAAALAAAAAADAAQAAAIDhI9WADs="
                        data-sizes="auto"
                        data-srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                        {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                        {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                        {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                        class="c-image lazyload" alt="{{ $title }}" width="{{ $image_size_3.Width }}" height="{{ $image_size_3.Height }}" />

                        <div class="t-caption">

                            <!-- Loop through illustrations in image -->
                            {{ range $index, $element := $images }}

                                <!-- Set illustration title for future reference -->
                                {{ $currentTitle := . }}

                                <!-- If illustration title equals current title, just print title -->
                                {{ if eq $currentTitle $pageTitle  }}
                                    {{ $currentTitle }} {{ $byline }}
                                
                                <!-- Else print title with link to illustrations -->
                                {{ else }}
                                   
                                    {{ range $element := $.Site.Pages }}
                                        {{ if eq .Title $currentTitle }}
                                            <a href="{{ .Permalink }}" class="c-link">{{ .Title }}</a> {{ $byline }}
                                        {{ end }}
                                    {{ end }}
                                
                                {{ end }}

                                {{ if not (eq (add $index 1) $len) }}&nbsp;+&nbsp; {{ end }}

                            {{ end }}

                        </div>

                    {{ else }}
                        
                        <img
                        src="{{ $image_size_1.RelPermalink }}"
                        srcset="data:image/gif;base64,R0lGODlhAwAEAIAAAP///wAAACH5BAEAAAAALAAAAAADAAQAAAIDhI9WADs="
                        data-sizes="auto"
                        data-srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                        {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                        {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                        {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                        class="c-image lazyload" alt="{{ $title }}" width="{{ $image_size_3.Width }}" height="{{ $image_size_3.Height }}" />
                        <div class="t-caption">{{ $pageTitle }} {{ $byline }}</div>
                        
                    {{ end }}
                </div>
                
            {{ end }}
        {{ end }}
    </div>
</div>

<!-- Fetch 6 random illustrations -->
<div class="container-fluid wrap--wide l-padding-xl">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ i18n "more-illustrations" }}</h3>
        </div>
    </div>
    <div class="row">
        {{ $randomIllustrations := shuffle (where .Site.RegularPages "Type" "illustrationer") }}
        {{ $.Scratch.Set "i" 1 }}
        {{ range $index, $element := $randomIllustrations }}
            {{ $i := $.Scratch.Get "i" }}
            {{ if not (or (eq .Title $pageTitle) (gt $i 6) ) }}
                <div class="col-xs-6 col-md-4 c-inview js-inview" data-inviewonce=true data-inviewtype="default">
                    <a class="c-illustration c-illustration--sm {{ if ( isset .Params "color" ) }}c-illustration--{{ .Params.color }}{{ end }} c-inview__el c-inview__el--slide-up" href="{{ .Permalink }}">
                        {{ $title := (print .Title " by Rolsted") }}
                        {{ with .Resources.GetMatch "**.jpg" }}
                            {{ $image_size_1 := .Resize "x300" }}
                            {{ $image_size_2 := .Resize "x600" }}
                            {{ $image_size_3 := .Resize "x900" }}
                            {{ $image_size_4 := .Resize "x1200" }}
                            <div class="c-illustration__image">
                                <div class="c-illustration__image-inner">
                                    <img
                                    src="{{ $image_size_1.RelPermalink }}"
                                    srcset="data:image/gif;base64,R0lGODlhAwAEAIAAAP///wAAACH5BAEAAAAALAAAAAADAAQAAAIDhI9WADs="
                                    data-sizes="auto"
                                    data-srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                                    {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                                    {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                                    {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                                    class="lazyload" alt="{{ $title }}" title="{{ $title }}"  />
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
                
                <!-- Increase index -->
                {{ $newIndex := add $i 1 }}
                {{ $.Scratch.Set "i" $newIndex }}

            {{ end }}
        {{ end }}
    </div>
    <div class="row">
        <div class="col-xs-12 l-align-center-xs">
            <a href="{{ if eq .Lang "da" }}/illustrationer{{ else }}/en/illustrations{{end}}" class="c-button c-button--plus l-margin-top-lg">{{ i18n "view-all" }}</a>
        </div>
    </div>
</div>

{{ partial "about" . }}
{{ partial "footer" . }}
