html {

    &.is-animating {
        pointer-events: none;
    }
  
}

body {
    padding: 0;
}

* {
    box-sizing: border-box;
}

// #main-scrollbar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
// }