img.lazyload {
    opacity: 0;
    background-position: center center;
    background-repeat: no-repeat;
}

img.lazyloading {
    opacity: 1;
    background: white url(/_assets/images/loader.gif) no-repeat center center;
}

video.lazyload,
video.lazyloading,
video.lazyloaded {
    &:extend(.x-transition-slow);
}

video.lazyload,
video.lazyloading {
    opacity: 0;
}

video.lazyloaded {
    opacity: 1; 
}