.c-fixed-navbar {
    &:extend(.x-transition);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 2.5rem;
    background-color: white;
    z-index: 999;
    &:extend(.x-box-shadow-soft);

    .cta-is-hidden & {
        .translateY(-100%);
        opacity: 0;
    }

}