.c-social-icons {
    display: inline-block;
    vertical-align: middle;

    a {
        &:extend(.x-transition, .x-extend-hit-area all, .x-haptic-default all); 
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1em;
        }

    }

}

.c-social-icons__text {
    float: left;
    font-size: 0.8em;
    margin: 0.1em 1.8em 0 0;

    @media @screen-up-to-xl {
        display: none;
    }

}