                    <footer class="c-footer l-margin-top-xl">

                        <div class="h-background-color-gray-background">
                            <div class="container-fluid wrap wrap--wide l-padding-xl">

                                <div class="row around-xs between-md l-align-center-xs l-align-left-md">
                                    <div class="col-xs-11 col-sm-8 col-md-3 add-space-below-up-to-md">
                                        {{ partial "divider-zig-zag" }}
                                        <h3 class="l-margin-top-sm l-margin-bottom-sm">{{ i18n "follow-me" }}</h3>
                                        <div class="c-footer__content">
                                            <p>{{ i18n "footer-follow-me-text" }}</p>
                                            <div class="l-margin-top-sm">
                                                {{ partial "social-icons" . }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-11 col-sm-8 col-md-3 add-space-below-up-to-md">
                                        {{ partial "divider-zig-zag" }}
                                        <h3 class="l-margin-top-sm l-margin-bottom-sm">{{ i18n "coorporation" }}</h3>
                                        <div class="c-footer__content">
                                            <p>{{ i18n "footer-coorporation-text" }} <a class="c-link c-link--neutral l-margin-top-xs" href="mailto:%72%6F%6C%73%74%65%64%2E%64%65%73%69%67%6E%40%67%6D%61%69%6C%2E%63%6F%6D">{{ i18n "contact-me" }}</a></p>
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-11 col-sm-8 col-md-3 add-space-below-up-to-md">
                                        {{ partial "divider-zig-zag" }}
                                        <h3 class="l-margin-top-sm l-margin-bottom-sm">{{ i18n "contact-me" }}</h3>
                                        <div class="c-footer__content text">
                                            <p>{{ i18n "footer-contact-me-text" }} <a class="c-link c-link--neutral l-margin-top-xs" href="mailto:%72%6F%6C%73%74%65%64%2E%64%65%73%69%67%6E%40%67%6D%61%69%6C%2E%63%6F%6D">{{ i18n "contact-me" }}</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="container-fluid wrap wrap--wide l-padding-md">
                            <div class="row around-xs">
                                <div class="col-xs-11 col-md-4 l-align-center-xs l-align-left-md">
                                    <div class="c-footer__content"> 
                                        {{ if .IsTranslated }}
                                            {{ range .Translations }}
                                                <a class="c-link no-barba" href="{{ .Permalink }}" class="no-barba">
                                                    {{ i18n "language-switch" }}
                                                </a>
                                            {{ end}}
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="col-xs-11 col-md-8 l-align-center-xs l-align-right-md">  
                                    {{ $.Param "copyright" }}
                                </div>
                            </div>
                        </div>
                       
                    </footer>

                </div>
            </div>
            
            </main>

        </div>
        


        <!-- Typekit -->
        <script>!function(e,t,n,a,c,l,m,o,d,f,h,i){c[l]&&(d=e.createElement(t),d[n]=c[l],e[a]("head")[0].appendChild(d),e.documentElement.className+=" wf-cached"),function s(){for(d=e[a](t),f="",h=0;h<d.length;h++)i=d[h][n],i.match(m)&&(f+=i);f&&(c[l]="/**/"+f),setTimeout(s,o+=o)}()}(document,"style","innerHTML","getElementsByTagName",localStorage,"tk",/^@font|^\.tk-/,100);</script>
        <script>
            (function(d) {
                var config = {
                    kitId: 'kgt1mnt',
                    scriptTimeout: 3000,
                    async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ "_assets/js/app.js" | relURL}}"></script>

	</body>
</html>
