<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ "_assets/css/main.css" | relURL}}">
     <title>{{ .Site.Title }} ▽ {{ .Title }}</title>
     {{ partial "seo/schema" . }}
     {{ partial "seo/open_graph" . }}
</head>
<body>

    <div id="barba-wrapper">

        <main id="main-scrollbar" data-scrollbar>
            
            {{ $header := .Params.header }}
            <header class="c-header js-header {{ if eq $header "inverse" }}c-header--inverse{{ end }} grid">
                <div class="row row--xs-center">
                    <div class="col col--lg-3">
                        <a class="c-header__logo" href="{{ if eq .Lang "da" }}/illustrationer{{ else }}/en/illustrations{{end}}">
                            {{ partial "svg/logo" . }}
                        </a>
                    </div>
                    <div class="col col--lg-6">
                        {{ partial "navigation" . }}
                    </div>
                    <div class="col col--lg-3 text--right h-hide-up-to-lg">
                        {{ partial "social-icons" . }}
                    </div>
                </div>

            </header>

            <div class="barba-overlay js-overlay"></div>

            <div class="barba-container">
                