<!DOCTYPE HTML>
<html class="cta-is-hidden">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ "_assets/css/main.css" | relURL}}">
     <title>{{ .Site.Title }} ▽ {{ .Title }}</title>
     {{ partial "favicons" . }}
     {{ partial "seo/schema" . }}
     {{ partial "seo/open_graph" . }}
</head>
<body class="preload">

    <div class="body">

        <main>
            
            {{ $header := .Params.header }}
            <header class="c-header js-header js-inview {{ if eq $header "inverse" }}c-header--inverse{{ end }} container-fluid" data-inviewtype="header">
                <div class="row middle-xs">
                    <div class="col-xs-12 col-lg-3">
                        <a class="c-header__logo" href="{{ if eq .Lang "da" }}/illustrationer{{ else }}/en/illustrations{{end}}">
                            {{ partial "svg/logo" . }}
                        </a>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        {{ partial "navigation" . }}
                    </div>
                    <div class="col-xs-12 col-lg-3 end-xs h-hide-up-to-lg">
                        {{ partial "social-icons" . }}
                    </div>
                    <div class="js-hamburger">Ham</div>
                </div>

            </header>

            <div class="barba-overlay js-overlay"></div>

            <div id="barba-wrapper">

            <div class="barba-container">
                