<div class="c-modal js-modal is-hidden" data-modal-id="order">
    
    <div class="c-modal__inner">
    
        <div class="c-modal__header t-bold-dark">
            {{ i18n "order" }} {{ .Title }} {{ i18n "by-rolsted" }}:
            <button class="c-modal__close c-button-neutral js-modal-close">
                <i class="c-icon c-icon--css c-icon--css-close c-icon--sm c-icon--dark"></i>
            </button>
        </div>

        <div class="c-modal__body js-modal-inner">

            <div class="c-modal__col" href="" onclick="javascript:location.href='mailto:%72%6F%6C%73%74%65%64%2E%64%65%73%69%67%6E%40%67%6D%61%69%6C%2E%63%6F%6D?subject={{ i18n "order-subject" }} {{ .Title }}'">
                <div class="c-modal__col-inner">
                    <i class="c-modal__col-icon c-icon c-icon--budicon-sm c-icon--dark">{{ partial "svg/doodle" }}</i>
                    <div class="c-modal__col-divider"></div>
                    <h2 class="c-modal__col-headline">{{ i18n "modal-order-handdrawn-headline" }}</h2>
                    <div class="c-modal__col-divider"></div>
                    <div class="c-modal__col-price t-bold-dark">{{ i18n "modal-order-handdrawn-price" }}</div>
                    <p>{{ i18n "modal-order-handdrawn-text" | safeHTML }}</p>
                    <div class="c-modal__col-button">{{ i18n "contact-me" }}</div>
                </div>
                <div class="c-modal__col-or">{{ i18n "or" }}</div>
            </div>

            <div class="c-modal__col c-modal__col--disabled">
                <div class="c-modal__col-inner">
                    <i class="c-modal__col-icon c-icon c-icon--budicon-sm c-icon--dark">{{ partial "svg/poster" }}</i>
                    <div class="c-modal__col-divider"></div>
                    <h2 class="c-modal__col-headline">{{ i18n "modal-order-poster-headline" }}</h2>
                    <div class="c-modal__col-divider"></div>
                    <div class="c-modal__col-price t-bold-dark">{{ i18n "not-yet-available" }}</div>
                    <p>{{ i18n "modal-order-poster-text" | safeHTML }}</p>
                    <div class="c-modal__col-button">{{ i18n "order" }}</div>
                </div>
            </div>

        </div>

    </div>

</div>