<div class="c-social-icons">
    <span class="c-social-icons__text">Følg Rolsted:</span>
    <a href="https://www.pinterest.com/rolsteddesign/" target="_blank"<i class="c-icon c-icon--xs c-icon--dark">{{ partial "svg/pinterest" }}</i></a>
    <a href="https://www.facebook.com/rolsteddesign/" target="_blank"><i class="c-icon c-icon--xs c-icon--dark">{{ partial "svg/facebook" }}</i></a>
    <a href="https://www.instagram.com/rolsteddesign/" target="_blank"><i class="c-icon c-icon--xs c-icon--dark">{{ partial "svg/instagram" }}</i></a> 
</div>