{{ partial "header" . }}

<section>
    <div class="c-hero-layout-3">
        <div class="c-hero-layout-3__text">

            <h1 class="c-hero-layout-3__title">{{ partial "headline" . }}</h1>

            <div class="c-hero-layout-3__background">
                <video autoplay muted loop playsinline poster="{{ "_assets/video/rolsted.jpg" | relURL}}">
                    <source src="{{ "_assets/video/rolsted.mp4" | relURL}}" type="video/mp4" />
                </video>
            </div>

        </div>
        <div class="c-hero-layout-3__line"></div>
    </div>
</section>


<div class="container-fluid wrap l-padding-bottom-xl">
    
    <div class="row around-xs">
        <div class="col-xs-11 col-sm-8 col-lg-7 col-xl-6">
            <div class="c-avatar c-avatar--centered l-margin-bottom-md" style="background-image: url({{ "_assets/images/rolsted_profil.jpg" | relURL}});"></div>
                {{ .Content }}
        </div>
    </div>

</div>

{{ partial "footer" . }}
