{{ partial "header" . }}

{{ $byline := i18n "by-rolsted" }}
{{ $title := .Params.rel_illustration }}

{{ if $title }}

    <!-- Loop through pages to find relative page -->
    {{ range .Site.Pages }}
        {{ if eq .Title $title }}
            {{ $.Scratch.Add "illustration_permalink" .Permalink }}
        {{ end }}
    {{ end }}

{{ end }}

<div class="container-fluid wrap wrap--wide">
    <div class="row">
        <div class="col-xs-12">
            <div class="c-hero-layout-4 js-inview c-inview" data-inviewtype="default" data-inviewonce="true">
                <div class="row around-xs reverse-md">
                    <div class="col-xs-12 col-lg-6 col-lg-offset-1 col-xl-5 add-space-below-up-to-lg c-inview__el c-inview__el--fade-in">
                        <div class="c-hero-layout-4__image l-align-center-xs">
                            {{ with .Resources.GetMatch "**.jpg" }}
                                    
                                {{ $image_size_1 := .Resize "x600" }}
                                {{ $image_size_2 := .Resize "x900" }}
                                {{ $image_size_3 := .Resize "x1200" }}
                                {{ $image_size_4 := .Resize "x1800" }}
                                
                                {{ if $title }}
                                    
                                    {{ $permalink := $.Scratch.Get "illustration_permalink" }}
                                    <a href="{{ $permalink }}">
                                        <img
                                        src="{{ $image_size_1.RelPermalink }}"
                                        sizes="(min-width: {{ $image_size_1.Width }}px) {{ $image_size_2.Width }}px,
                                        (min-width: {{ $image_size_1.Width }}px) {{ $image_size_1.Width }}px,
                                        100vw"
                                        srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                                        {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                                        {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                                        {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                                        alt="{{ $title }} - {{ $byline }}" />
                                    </a>  
                                {{ else }}
                                    <img
                                    src="{{ $image_size_1.RelPermalink }}"
                                    sizes="(min-width: {{ $image_size_1.Width }}px) {{ $image_size_2.Width }}px,
                                    (min-width: {{ $image_size_1.Width }}px) {{ $image_size_1.Width }}px,
                                    100vw"
                                    srcset="{{ $image_size_1.RelPermalink }} {{ $image_size_1.Width }}w, 
                                    {{ $image_size_2.RelPermalink }} {{ $image_size_2.Width }}w, 
                                    {{ $image_size_3.RelPermalink }} {{ $image_size_3.Width }}w, 
                                    {{ $image_size_4.RelPermalink }} {{ $image_size_4.Width }}w" 
                                    alt="{{ $title }} - {{ $byline }}" />
                                {{ end }}
                            {{ end }}
                            <div class="t-h1 c-hero-layout-4__mobile-title h-hide-lg">{{ partial "headline" . }}</div>
                        </div>
                        {{ if $title }}
                            {{ $permalink := $.Scratch.Get "illustration_permalink" }}
                            <div class="t-caption h-hide-up-to-lg">
                                <a href="{{ $permalink }}" class="c-link">{{ $title }}</a> {{ $byline }}
                            </div>
                        {{ end }}
                    </div>
                    <div class="col-xs-11 col-sm-8 col-lg-5 col-xl-6 c-inview__el c-inview__el--slide-right">
                        <h1 class="c-hero-layout-4__title h-hide-up-to-lg">{{ partial "headline" . }}</h1>
                        <a href="https://www.presentimage.no/en/categories/artist-anette-berg-handpicked-posters" class="c-button-dealer" onclick="gtag('event', 'See posters on Present Image', { method : 'Google' });" target="_blank">
                            <img src="{{ "_assets/images/present_image.png" | relURL}}" alt="Present Image Logo" width="500" height="500" />
                            {{ i18n "dealer-button" }}
                        </a>
                        {{ .Content }}
                        {{ if and (isset .Params "button_text") (isset .Params "button_link") }}
                        <div class="text--xs-center text--lg-left l-margin-top-md">
                            <a href="{{ .Params.button_link }}" class="c-button" onclick="gtag('event', 'Clicked button - {{ .Params.button_text }}', { method : 'Google' });">{{ .Params.button_text }}</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
